.contact-section {
    padding-bottom: 5rem 0 0;
  }
  
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #2D51A3;
  }
  
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  
  .contact-section .card hr {
    border-color: #2D51A3;
    border-width: 0.25rem;
    width: 3rem;
  }
  
  .contact-section .social {
    margin-top: 2rem;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: #2D51A3;
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .contact-section .social a:hover {
    color: #2D51A3;
  }
  
  .contact-section .social a:active {
    color: #2D51A3;
  }